*{
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
ul{
    margin-left: 15px;
}
#container {
    width: 70%;
    margin:auto;
    background:white;
    padding: 20px;
}

body {
    background:#0C3458;

}

a{
    margin: 6%;
}

header{
    width: 70%;
    margin:auto;
    background:white;
    display: flex;
    justify-content: space-between;
}

nav img{
    justify-self: flex-start;
}

nav{
    display: flex;
    align-items: center;
    padding-top: 15px;
    border-bottom:#0C3458 solid 3px;
    width: 100%;
    }

    h1 {
        font-family:Georgia, 'Times New Roman', Times, serif
    }
    p{
    font-family:sans-serif;
    }

    hr{
        margin-top: 20px;
        margin-bottom: 20px;
    
    }

